@page
@model SixteenThousandStories.Pages.Assets.Abilities.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ability</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ability.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ability.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ability.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ability.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ability.Created_At)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ability.Created_At)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Ability.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
